@page
@model Jeffpardy.Pages.IndexModel
@{
    Layout = "";
}

<head>
    <link rel="stylesheet" vite-href="~/src/web/pages/hostSecondaryPage/HostSecondaryPage.tsx" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Jeffpardy!</title>
</head>

<body>
    <script type="module" vite-src="~/src/web/pages/hostSecondaryPage/HostSecondaryPage.tsx"></script>
</body>