@page
@model Jeffpardy.Pages.IndexModel
@{
    Layout = "";
    ViewData["Title"] = "Jeffpardy";
}

<head>
    <link rel="stylesheet" href="~/css/dist/Jeffpardy.css" />
</head>

<body>
</body>

<script src="~/js/dist/buzzer.js"></script>
