@page
@model Jeopardy.Pages.IndexModel
@{
    Layout = "";
    ViewData["Title"] = "Jeopardy";
}

<head>
    <link rel="stylesheet" href="~/css/dist/Jeopardy.css" />
</head>

<body></body>

<script src="~/js/dist/index.js"></script>
