@page
@model Jeopardy.Pages.IndexModel
@{
    Layout = "";
}

    <head>
        <link rel="stylesheet" href="~/css/dist/Jeopardy.css" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <title>JSJeopardy</title>
    </head>

<body></body>

<script src="~/js/dist/index.js"></script>
