@page
@model Jeffpardy.Pages.PlayerModel
@{
    Layout = "";
}

<head>
    <link rel="stylesheet" href="~/css/dist/Jeffpardy.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Jeffpardy!</title>
</head>

<body>
</body>

<script src="~/js/dist/player.js"></script>
