$colorGameBoard: #060CE9;
$colorBrown: #2b0f01;

/* Font Families */
@font-face
{
    font-family: "Segoe UI Web Light";
    font-style: normal;
    font-weight: 100;
    src: local("Segoe UI Light"),local("Segoe UI"),local("HelveticaNeue-Light");
    unicode-range: U+0-FF,U+300-36F;
}

@font-face
{
    font-family: "Segoe UI Web Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Segoe UI"),local("Helvetica Neue");
    unicode-range: U+0-FF,U+300-36F;
}

@font-face
{
    font-family: "Segoe UI Web Semibold";
    font-style: normal;
    font-weight: bold;
    src: local("Segoe UI Semibold"),local("Segoe UI Bold"),local("Segoe UI"),local("HelveticaNeue-Medium");
    unicode-range: U+0-FF,U+300-36F;
}

@media print{
    .noprint{
        display:none !important
    }

    .pageBreakAfter {
        page-break-after: always;
    }
 }


/* Core CSS */
html
{
    background-color:$colorGameBoard;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-size: 14px;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
    background-color:$colorGameBoard;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
}

button { cursor:pointer; }

/* Base Styles to inherit from */
%jeffpardyMainFont {
    color:white;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch: ultra-condensed;
}


%bigButton {
    font-size:1.5rem;
    padding:5px 20px 5px 20px;
}

%bigButtonHover {
    background-color: darkgrey;
}

div.flexGrowSpacer {
    flex-grow:1
}


/* Start Page */
/* ------------------------------------------------------ */

div#startPage {
    padding:10px;
    background-color: $colorGameBoard;
    color:white;
    display:flex;
    flex-direction: column;
    height:100%;
    box-sizing: border-box;
    align-content: center;
}

div#startPage a {
    font-size:2rem;
    color:white;
}

div#startPage div.title {
    @extend %jeffpardyMainFont;

    height: 15%;
    background-color:$colorGameBoard;
    font-size: 4rem;
    text-align: center;
    margin:2px;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Host Start Screen & Lobby */
/* --------------------------------------------------*/
div.hostStartPage {
    padding:10px;
    background-color: $colorGameBoard;
    color:white;
    display:flex;
    flex-direction: column;
    height:100%;
    box-sizing: border-box;
    align-content: center;
}

div.hostStartPage {
    align-items:center;
    text-align: center;
}

div.hostStartPage a {
    font-size: 1.5rem;
    color:white;
}

div.hostStartPage button {
    @extend %bigButton;
}

div.hostStartPage button:hover {
    @extend %bigButtonHover;
}

div.hostStartPage div.title {
    @extend %jeffpardyMainFont;

    background-color:$colorGameBoard;
    font-size: 4rem;
    text-align: center;
    margin:2px;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

div.hostStartPage ul.categoryList {
    border: 3px solid white;
    columns:2;
    column-gap: 50px;
    list-style: none;
    font-weight:bold;
    padding: 20px;
}

div.hostStartPage ul.categoryList li {
    list-style: none;
    padding-left:0px;
    text-align: left;
}

div.hostStartPage ul.categoryList li ul {
    list-style: none;
    padding-left:0px;
    text-align: left;
    font-weight:normal;
}

div.hostStartPage div.playerListBox {
    border: 3px solid white;
    margin:20px;
    padding:10px;
}

div.hostStartPage div.playerListBox div.boxTitle {
    font-size:2rem;
}

div.hostStartPage ul.playerList {
    display:flex;
    flex-direction: row;
    list-style: none;
    font-weight:bold;
    padding:0;
}

div.hostStartPage ul.playerList li {
    list-style: none;
    padding-left:20px;
    padding-right:20px;
    text-align: left;
    display:inline;
}

div.hostStartPage ul.playerList li ul {
    list-style: none;
    padding-left:0px;
    padding-right:0px;
    text-align: left;
    font-weight:normal;
}

div.hostStartPage ul.playerList li ul li {
    padding:0;
}

div.hostStartPage div.gameCode {
    @extend %jeffpardyMainFont;
    background-color:$colorGameBoard;
    font-size: 2rem;
    text-align: center;
    margin:2px;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#introVideo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    height:100%;
}

div#introVideo video {
    width:100%;
}

div#jeffpardyBoardFrame {
    width:100%;
    display:flex;
    flex-grow:1;
    background-color:grey;
    padding:20px;
    box-sizing: border-box;
}

div#jeffpardyBoardInnerFrame {
    width:100%;
    flex-grow: 1;
    background-color:darkgrey;
    padding:5px;
    box-sizing: inherit;
    min-width: 1100px;
}

div#jeffpardyBoard {
    width:100%;
    height:100%;
    background-color:black;
    display: flex;
    flex-direction: row;
    position: relative;
    padding:10px;
    box-sizing: inherit;
}

div#jeffpardyBoard div.jeffpardyBoardClues {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    width:100%;

}

div#jeffpardyBoard div.jeffpardyCategory
{
    @extend %jeffpardyMainFont;

    background-color:$colorGameBoard;
    font-size: 2rem;
    text-align: center;
    margin:2px;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#jeffpardyBoard div.jeffpardyClue
{
    @extend %jeffpardyMainFont;

    display:flex;
    flex-direction: column;
    box-sizing: inherit;
    margin:2px;
    position: relative;
    font-size: 3.5rem;
    box-sizing: inherit;
    background-color:#060CE9;
    box-sizing: border-box;

}

div#jeffpardyBoard div.jeffpardyClue a
{
    display:flex;
    flex-grow:1;
    width:100%;
    color:yellow;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

div#jeffpardyBoard  div.jeffpardyClue a:hover
{
    background-color:darken($colorGameBoard, 20);
}

div#jeffpardyBoard  div.jeffpardyClue a:hover a.asked:hover
{
    background-color:$colorGameBoard;
}

div#jeffpardyBoard div.jeffpardyActiveClue {
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
}

div#jeffpardyBoard div.jeffpardyActiveClue .header {
    background-color: darkblue;
    font-size:1.5em;
    flex-grow:0;
    text-align: center;
    color:white;
    padding:5px;
}

div#jeffpardyBoard div.jeffpardyActiveClue .clue
{
    flex-grow: 1;
    background-color:#060CE9;
    color: white;
    font-size:4rem;
    display: flex;
    position: relative;
    top:0;
    left:0;
    width:100%;
    padding:10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: pre-line;
}

div#jeffpardyBoard div.jeffpardyActiveClue .question
{
    flex-grow: 1;
    background-color:$colorGameBoard;
    color: white;
    font-size:3rem;
    display: flex;
    position: relative;
    top:0;
    left:0;
    width:100%;
    padding:10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: pre-line;
}

div#jeffpardyBoard div.timer {
    height:10px;
    width:100%;
    display:flex;
    flex-direction: row;
}

div#jeffpardyBoard div.timer div {
    flex-grow:1;
    background-color: $colorGameBoard;
}

div#jeffpardyBoard div.timer div.lit {
    background-color:white;
}

div#jeffpardyBoard button {
    @extend %bigButton;
}

div#jeffpardyBoard button:hover {
    @extend %bigButtonHover;
}

div#jeffpardyBoard div.jeffpardyActiveClue .dailyDouble
{
    flex-grow: 1;
    background-color:#060CE9;
    color: white;
    font-size:2rem;
    display: flex;
    flex-direction: column;
    top:0;
    left:0;
    width:100%;
    padding:10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div#jeffpardyBoard div.jeffpardyActiveClue .dailyDouble div.title {
    @extend %jeffpardyMainFont;
    font-size: 3rem;
}


div#jeffpardyBoard div.jeffpardyActiveClue .dailyDouble input[type="number"] {
    font-size:1rem;
    width:200px;
    text-align: center;
}

div#jeffpardyBoard div.jeffpardyIntermission,
div#jeffpardyBoard div.jeffpardyFinal,
div#jeffpardyBoard div.jeffpardyEnd {
    background-color:$colorGameBoard;
    color:white;
    flex-direction:column;
    text-align: center;
    align-items: center;
    display:flex;
    height:100%;
    width:100%;
    font-size:2rem;
    padding-top:40px;
    box-sizing: border-box;
}

div#jeffpardyBoard div.jeffpardyFinal div.category {
    @extend %jeffpardyMainFont;
    font-size:2.5rem;
    padding:10px 0 0 0;
}

div#jeffpardyBoard div.jeffpardyFinalCategory,
div#jeffpardyBoard div.jeffpardyFinalClue,
div#jeffpardyBoard div.jeffpardyFinalTally {
    width: 100%;
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
}

div#jeffpardyBoard div.jeffpardyFinalClue,
div#jeffpardyBoard div.jeffpardyFinalTally {
    padding-top:40px;
}

div#jeffpardyBoard div.jeffpardyFinalClue div.clue,
div#jeffpardyBoard div.jeffpardyFinalTally div.clue {
    font-size:3rem;
}

div#jeffpardyBoard div.jeffpardyIntermission,
div#jeffpardyBoard div.jeffpardyEnd {
    justify-content: center;
}

div#jeffpardyBoard div.jeffpardyIntermission div.title,
div#jeffpardyBoard div.jeffpardyEnd div.title {
    @extend %jeffpardyMainFont;
    font-size: 3em;
}

ul.finalJeffpardySubmissionList,
ul.finalJeffpardyTally {
    text-align: left;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
}

ul.finalJeffpardySubmissionList li,
ul.finalJeffpardyTally li{
    width: 250px;
    font-size:1.5rem;
}

ul.finalJeffpardySubmissionList table,
ul.finalJeffpardyTally table {
    color: white;
    width:100%;
    border-spacing: 5px 0;
}

ul.finalJeffpardyTally table th {
    font-weight:bold;
    text-align: left;
}

ul.finalJeffpardyTally table td,
ul.finalJeffpardyTally table td {
    word-wrap: break-word;
}

div#jeffpardyBoard ul.finalJeffpardyTally button {
    font-size: 1rem;
    padding: 1px 6px;
    margin: 2px 4px 0 0;
}

/*----------------------------------------------------------------------------*/
div#playerPage
{
    padding:10px;
    background-color: $colorGameBoard;
    color:white;
    display:flex;
    flex-direction: column;
    height:100%;
    box-sizing: border-box;
    align-content: center;
}

div#playerPage div.title {
    @extend %jeffpardyMainFont;

    background-color:$colorGameBoard;
    font-size: 4rem;
    text-align: center;
    margin:2px;
    padding-top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#playerPage button {
    @extend %bigButton;
}

div#playerPage button:hover {
    @extend %bigButtonHover;
}

div#playerPage div.gameCode {
    @extend %jeffpardyMainFont;
    background-color:$colorGameBoard;
    font-size: 2rem;
    text-align: center;
    margin:2px;
    display: flex;
    align-items: center;
    justify-content: center;
}


div#playerPage div.gameCodeEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#playerPage div.gameCodeEntry input {
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
}


div#playerPageMain
{
    padding:10px;
    background-color: $colorGameBoard;
    color:white;
    display:grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    height:100%;
    box-sizing: border-box;
}

div#buzzerView div.buzzerViewTitle
{
    @extend %jeffpardyMainFont;

    font-size:3rem;
    grid-column-start: span 2;
    text-align: center;
}

div#buzzerView div.buzzerViewTitleGameCode
{
    @extend %jeffpardyMainFont;

    grid-column-start: span 2;
    text-align: center;
}

div#playerPage div.buzzerCurrentUserView
{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div#playerPage div.buzzerCurrentUserView h1 {
    margin-bottom:0px;
}

div#playerPage div.buzzerCurrentUserView h2 {
    margin-top:0px;
}

div#playerPage input {
    font-size:1.5rem;
}

div#playerPage div.buzzerRegistration,
div#playerPage div.finalJeffpardy
{
    font-size:1.5rem;
}


div#playerPage div.buzzerCurrentUserView div.playerName {
    font-size:1.5rem;
    margin-bottom: 20px;
}

div#playerPage div.buzzerCurrentUserView div.buzzedInUser {
    margin-top:20px;
    padding:10px 30px 10px 30px;
    background-color: orangered;
}

div#playerPage div.buzzerCurrentUserView div.buzzedInUser.buzzedInWinner {
    background-color: green;
}

div#playerPage div.buzzerCurrentUserView div.buzzedInUser div.buzzedInUserName{
    font-size:2rem;
}

button#buzzer {
    margin-top:20px;
    height: 200px;
    width: 200px;
    font-size:2em;
    color:white;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.5);
}



button#buzzer div.reactionTime {
    font-size:0.8em;
}

button#buzzer:focus {
    outline:0;
}

button#buzzer.active {
    border: 1px solid green;
    background-color: green;
}

button#buzzer.active:hover {
    border: 1px solid darken(green, 10);
    background-color:darken(green, 10);
}

button#buzzer.active:active {
    border: 1px solid darken(green, 20);
    background-color:darken(green, 20);
}

button#buzzer.inactive {
    border: 1px solid grey;
    background-color: grey;
}

button#buzzer.buzzed, button#buzzer.buzzed:hover {
    border: 1px solid blue;
    background-color: blue;
}

button#buzzer.lockedout, button#buzzer.lockedout:hover, button#buzzer.lockedout:active {
    border: 1px solid orangered;
    background-color: orangered;
}

div#scoreboard {
    height:130px;
    box-sizing: border-box;
    background-color:$colorBrown;
    display:flex;
    flex-direction: row;
    padding-top:10px;
    padding-bottom: 10px;
}

div#scoreboard div#hostControls {
    width:250px;
    padding-left:10px;
    display:grid;
    color:white;
    font-weight: bold;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 1fr;
    row-gap:4px;
}

div#scoreboard div#hostControls button {
    margin-right:4px;
    background-color:green;
    border-color: darkgreen;
}

div#scoreboard div#hostControls button:disabled {
    background-color:grey;
    border-color: darkgrey;
}


div#scoreboard .scoreEntries {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: left;
    text-align: center;
    padding-left:30px;
}

div#scoreboard .scoreboardEntry {
    @extend %jeffpardyMainFont;

    width: 200px;
    background-color:$colorGameBoard;
    border:2px solid black;
    box-shadow: 0px 0px 20px rgb(50, 50, 50);
    margin-right:10px;
}


div#scoreboard .scoreboardEntry.controllingTeam{
    border:2px solid yellow;
    box-shadow: 0px 0px 20px yellow;
}

div#scoreboard .scoreboardEntry.winningTeam{
    border:2px solid green;
    box-shadow: 0px 0px 20px green;
}

div#scoreboard .scoreboardEntry .buzzerIndicator{
    height:15px;
    background-color: black;
}

div#scoreboard .scoreboardEntry .buzzerIndicator.buzzerActive{
    background-color: white;
}


div#scoreboard .scoreboardEntry .buzzerIndicator.buzzedIn{
    background-color: red;
}


div#scoreboard .scoreboardEntry .teamName{
    font-size:2em;
    border-bottom: solid 5px black;
}


div#scoreboard .scoreboardEntry .score{
    font-size:2.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}


div.buzzerUserListView {
    display:flex;
    flex-direction: column;
    align-items: center;
}

div.buzzerUserListView ul.playerList {
    list-style: none;
    padding-left:0px;
    text-align:center;
}

div.buzzerUserListView ul.playerList li {
    font-weight:bold;
}

div.buzzerUserListView ul.playerList ul {
    padding-left:0;
}

div.buzzerUserListView ul.playerList ul li {
    font-weight:normal;
}

div#hostAnswerKey {
    background-color: white;
}

div.answerKeyRound div.answerKeyClues {
    display:grid;
    background-color: black;
    -webkit-print-color-adjust: exact;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    //grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width:100%;
    box-sizing: border-box;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    padding:2px;
    font-size:8pt;

}

div.answerKeyRound div.answerKeyCategory {
    text-align: center;
    background-color: white;
    padding:2px;
    margin-bottom:2px;
}

div.answerKeyRound div.answerKeyCategory div.title {
    font-weight: bold;
}


div.answerKeyRound div.answerKeyClue {
    text-align: center;
    background-color: white;
    padding:2px;
}

div.answerKeyRound div.answerKeyClue div.value {
    font-weight: bold;
}

div.answerKeyRound div.answerKeyClue div.clue {
    border-bottom:1px solid black;
    white-space: pre-line;
}



/* main layout
----------------------------------------------------------*/
div.topPageNormal {
    display:flex;
    flex-direction: column;
    height:100%;
}

/*   topSection container ===========================  */
.topSection {
    @extend %jeffpardyMainFont;

    padding-top:5px;
    height: 70px;
    color:white;
    background-color:$colorBrown;
    display:flex;
    flex-direction: column;
    align-content: center;
}

.topSection .title {
    font-size: 2.5em;
    text-align: center;
}

.topSection .gameCode {
    font-size: 1em;
    text-align: center;
}

/*   middleSection container =========================  */
.middleSection {
    flex-grow: 1;
    display:flex;
}

.pageContent {
    flex-grow: 1;
    overflow-x: hidden;
    width: calc(100vw);
    display: flex;
    flex-direction: column;
}

/* From JeopardyLabs */
div#fromJeopardyLabs {
    padding:10px;
    background-color: $colorGameBoard;
    color:white;
    flex-direction: column;
}

div#fromJeopardyLabs a {
    color:white;
}

div#fromJeopardyLabs div.title {
    @extend %jeffpardyMainFont;

    height: 15%;
    background-color:$colorGameBoard;
    font-size: 4rem;
    text-align: center;
    margin:2px;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
